<main class="main">
  <div class="content">
    <form (ngSubmit) = "postUser()" #f = "ngForm" class="myForm">
      <label for="name">name</label>
      <input type="text" name="name" ngModel placeholder="Your name here" />

      <label for="email">email</label>
      <input type="text" name="email" ngModel pattern="/^[\w\-\.]+@([\w-]+\.)+[\w-]{2,}$/gm" required placeholder="Your email here" />

      <label for="password">password</label>
      <input type="password" name="password" ngModel placeholder="Your password here" />

      <button type="submit">Send the data</button>
    </form>

    <div *ngIf="(userData.length == 0)">
     <h3>You either have not added a database to the .env file on the backend or havent turned the backend on</h3>
    </div>

    <div *ngIf="userData.length > 0" class="user-card-container">
     <div *ngFor="let user of userData">
        <div class="user-card">
          <h4>name: {{user.name}}</h4>
          <p>email: {{user.email}}</p>
        </div>
     </div>
    </div>
  </div>
</main>

<router-outlet />
